<h3>Post Form</h3>




<%= form_for(@post) do |p| %> 
<%= p.label 'Post Title:' %> 
<%= p.text_field :title %> 
<%= p.label 'Post Description:' %> 
<%= p.text_area :description %> 
<%= p.submit 'Update Post' %>
<% end %> 